* {
    font-family: 'FontAwesome';
}

a {
    color: rgba(0, 0, 0, .7);
}

a:hover {
    color: rgba(0, 0, 0, .6);
}

.top-bar {
    display: flex;
    flex-direction: column;
    background-color: #F8F9FA;
    color: grey;
    padding: 0.5rem;
}

.navbar-brand {
    font-weight: bold;
}

.row {
    display: flex;
}

#footer-services .container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
}

#footer-services .container .row {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#footer-services {
    background-color: #F8F9FA;
    margin-top: 2rem;
}

#footer-menu {
    background-color: #DDE1E5
}

#footer-copyright {
    /* display: flex; */
    background-color: #373C42;
    color: grey;
}

.payment-icon {
    width: 35px;
}

.mx-0 {
    margin-bottom: 1.9rem;
}

#navright {
    width: 5%;
}

.service-column {
    display: flex;
}

.fa-truck,
.fa-money,
.fa-phone {
    width: 60px;
    font-size: 2.7rem;
    border-right: solid 2px #DDE1E5;
    margin-right: 10px;
}

.text-uppercase {
    font-weight: bold;
}

.font-weight-light {
    font-size: 0.8rem;
}

.product {
    transition: all 1s ease;
    text-align: center;
}

.product:hover {
    transform: scale(1.15);
}

.notfound {
    text-align: center;
    color: blue;
    text-decoration: underline;
}

.navbar-icon-link {
    margin-right: 10px;
}

.productcontainer {
    display: flex;
    border-top: solid 1px #DDE1E5;
}

.subproductcontainer1 {
    width: 40%;
}

.subproductcontainer2 {
    width: 60%;
    padding: 3% 3%;
}

.subproductcontainer2 h2 {
    font-weight: bold;
}

#byboot {
    font-style: italic;
    color: rgb(121, 123, 126);
    font-size: 1rem;
}

#price {
    color: rgb(121, 123, 126);
    font-size: 1.5rem;
}

#addcartbutton {
    background-color: #373C42;
    width: 150px;
    color: white;
    padding: 4px 6px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

#currencylabel {
    margin-right: 5px;
}

#cart-article-number {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 20px;
    background-color: #373C42;
    color: white;
    /* margin-left: 3px; */
    /* margin-right: 6px; */
    border-radius: 5px;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0%;
    margin-block-end: 0%;
    margin-right: 5px;
}